$text-color: #E4D8CC;
$text-color-transporent: hsla(30, 31%, 85%, .5);
$text-color-alt: #F5F1F0;
$menu-color: #333;
$menu-color-alt: #474335;
$shadow: 0 0 7px rgba(0, 0, 0, .2);
$shadow-alt: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
$shadow-acc: 0 1.1rem 1rem rgba(0, 0, 0, .2);
$shadow-acc-alt: 0 .4rem 1.5rem rgba(0, 0, 0, .4);
$btn-color: #C3BAB1;
$btn-color-alt: hsla(30, 13%, 73%, .2);



